<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>首页</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>所有商品</h1>
        <p><a class="btn btn-primary btn-lg" role="button" th:href="@{/item/add}">添加商品</a></p>
    </div>



    <div class="row" th:each="rawItems:${items}">
        <div class="col-md-3"  th:each="colItem:${rawItems}"
             style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p th:text="${colItem.name}">
            </p>
        </div>

    </div>
</div>

</body>
</html>
