<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>首页</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>所有商品</h1>
        <p><a class="btn btn-primary btn-lg" role="button" th:href="@{/item/add}">添加商品</a></p>
    </div>



    <div class="row" th:each="rawItems, indexi:${items}">
        <div class="col-md-3" th:each="colItem, indexj:${rawItems}"
             style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <img th:src="@{${'/item/getpic?id=' + colItem.id}}" class="form-control" style="object-fit: fill;">
            <a th:href="@{${'/item/detail?id=' + colItem.id}}"
            style="text-align: center; display: block;width: 100%;" th:text="${colItem.name}"></a>
        </div>

    </div>
</div>

</body>
</html>
