<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>购买商品</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>购买商品</h1>
    </div>
    <form action="#" th:object="${transaction}" class="form-horizontal" onsubmit="return check();"
          th:action="@{/item/buy}" method="post">
        <input type="hidden" th:field="*{item}"/>
        <input type="hidden" th:field="*{buyer}"/>
        <input type="hidden" th:field="*{singlePrice}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-10"><div class="form-control" th:text='*{item.name}'></div></div>
            <div hidden="hidden" id=""></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品库存</label>
            <div class="col-sm-10"><div class="form-control" th:text='*{item.stock}'></div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请输入购买的数量</label>
            <div class="col-sm-10">
            <input th:field="*{amount}"
                    class="form-control" type="number" min="1" th:max='*{item.stock}' id="amount"
            >
            <div hidden class="text-danger" id="askForAmount">请输入购买的数量</div>
            <div hidden class="text-danger" id="validForAmount">请输入合法的购买数量</div>
            </div>
        </div>

        <div class="form-group" id="addresses">
            <label class="col-sm-2 control-label">派送地址</label>
            <div class="col-sm-10">
                <div class="input-group" th:each="address:*{buyer.addresses}">
                    <span class="input-group-addon">
                        <input type="radio" th:field="*{address}" th:value="${address.name}" name="address"/>
                    </span>
                    <input type="text" class="form-control" th:field="*{address}" th:placeholder="${address.name}" name="address"
                           disabled="disabled">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" th:field="*{address}" value="" name="address" id="tempAddressSelect"/>
                    </span>
                    <input type="text" class="form-control" placeholder="请输入新的临时地址" name="tempAddress"
                        id="tempAddress"/>
                </div>
                <div hidden class="text-danger" id="askForAddress">请选择一个收货地址</div>
                <div hidden class="text-danger" id="validForAddress">收货地址不能为空</div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-danger">确认购买</button>
            </div>
        </div>
    </form>
    <script>
        function check() {
            var result = true;
            var allRadios = $("#addresses input");
            var askForAddress = $("#askForAddress");
            var validForAddress = $("#validForAddress");
            var amountArea = $("#amount");
            var askForAmount = $("#askForAmount");
            var validForAmount = $("#validForAmount");
            var allSelected = 0;
            allRadios.each(function () {
                if ($(this).attr('type') === 'radio' && $(this).prop('checked') === true){
                    ++allSelected;
                }
            });
            if (allSelected !== 1){
                askForAddress.removeAttr("hidden");
                validForAddress.attr("hidden", "hidden");
                result = false;
            }
            else if ($("#tempAddressSelect").prop("checked") && $("#tempAddress").val().length <= 0){
                askForAddress.attr("hidden", "hidden");
                validForAddress.removeAttr("hidden");
                result = false;
            }
            else {
                askForAddress.attr("hidden", "hidden");
                validForAddress.attr("hidden", "hidden");
            }
            if (amountArea.val().length <= 0){
                askForAmount.removeAttr("hidden");
                validForAmount.attr("hidden", "hidden");
                result = false;
            }
            else if (isNaN(amountArea.val()) || parseFloat(amountArea.val()) <= 0){
                askForAmount.attr("hidden",  "hidden");
                validForAmount.removeAttr("hidden");
                result = false;
            }
            else {
                askForAmount.attr("hidden", "hidden");
                validForAmount.attr("hidden", "hidden");
            }
            return result;
        }
    </script>
</div>

</body>
</html>
