<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>查看商品详情</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>查看商品详情</h1>
    </div>
    <div th:object="${item}">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">名称</h3>
                </div>
                <div class="panel-body" th:text="*{name}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">描述</h3>
                </div>
                <div class="panel-body" th:text="*{detail}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">价格</h3>
                </div>
                <div class="panel-body" th:text="*{price}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">库存</h3>
                </div>
                <div class="panel-body" th:text="*{stock}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">商品类型</h3>
                </div>
                <div class="panel-body" th:text="*{category.name}">
                </div>
            </div>

            <a th:href="@{/item/buy(id=${item.id})}" class="btn btn-default">立即购买</a>
        </div>
    </div>
</div>
<script>
    function addItemCheck() {
        return true;
    }
</script>
</body>
</html>
