<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>用户详情</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li>
            <a th:href="@{/admin}">后台管理</a>
        </li>
        <li>
            <a th:href="@{/admin/user}">用户管理</a>
        </li>
        <li class="active" th:text="${user.id}"></li>
    </ul>
    <div class="user-view">
        <h1 th:text="${user.username}"></h1>
        <p>
            <span th:if="${#authentication.name != user.username}">
                <a th:if="${user.enabled}" class="btn btn-danger"
                   th:href="@{/admin/user/toggle-enabled(id=${user.id})}"
                   onclick="if (!(confirm('你确定要禁用该用户吗？'))) return false">禁用用户</a>
                <a th:if="${!user.enabled}" class="btn btn-success"
                   th:href="@{/admin/user/toggle-enabled(id=${user.id})}"
                   onclick="if (!(confirm('你确定要启用该用户吗？'))) return false">启用用户</a>
            </span>
        </p>
        <table id="w0" class="table table-striped table-bordered detail-view">
            <tr>
                <th class="col-md-2">ID</th>
                <td th:text="${user.id}"></td>
            </tr>
            <tr>
                <th>用户名</th>
                <td th:text="${user.username}"></td>
            </tr>

            <tr th:if="${user.userProfile != null}">
                <th>性别</th>
                <td th:text="${user.userProfile.gender.name}"></td>
            </tr>
            <tr th:if="${user.userProfile != null}">
                <th>电话</th>
                <td th:text="${user.userProfile.phone}"></td>
            </tr>
            <tr th:if="${user.userProfile != null}">
                <th>电子邮箱</th>
                <td th:text="${user.userProfile.email}"></td>
            </tr>
            <tr th:if="${user.userProfile != null}">
                <th>个人简介</th>
                <td th:text="${user.userProfile.detail}"></td>
            </tr>
            <tr th:if="${user.userProfile != null}">
                <th>注册日期</th>
                <td th:text="${user.userProfile.joinDate}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
