<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>商品评论</title>
</head>
<body>

<div layout:fragment="content">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/locales/zh.js"></script>

    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li>
            <a th:href="@{/info/}">个人中心</a>
        </li>
        <li class="active">修改评论</li>
    </ul>

    <div class="jumbotron">
        <h1>商品评论</h1>
    </div>

    <div>
        <form id="w0" action="#" th:object="${comment}" th:action="@{/item/modifyComment}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{transaction}"/>
            <label>评分</label>
            <input id="input-id" type="text"  class="rating-loading" data-min="0" data-max="5" data-step="1"
                   th:field="*{star}" data-show-clear="false" data-show-caption="false">
            <label>评论</label>
            <textarea class="form-control" style="resize:none;" rows="20" th:field="*{content}"></textarea>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-success">保存</button>
            </div>
        </form>
    </div>
    <script>
        $(document).on('ready', function(){
            $("#input-id").rating({language: 'zh'});
        });
    </script>
</div>

</body>
</html>
