<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>个人中心</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li class="active">个人中心</li>
    </ul>

    <div class="user-center">
        <h1>个人中心</h1>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            <li><a href="#">收货地址</a></li>
            <li><a href="#">收藏</a></li>
            <li><a href="#">购物车</a></li>
            <li><a href="#">订单</a></li>
            <li><a href="#">售卖</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active">
                <p>
                    <a th:href="@{/user/info/update}" class="btn btn-primary">修改信息</a>
                    <a th:href="@{/user/password/update}" class="btn btn-primary">修改密码</a>
                </p>
                <table id="w0" class="table table-striped table-bordered detail-view">
                    <tr>
                        <th>用户名</th>
                        <td th:text="${user.username}"></td>
                    </tr>

                    <tr th:if="${user.userProfile != null}">
                        <th>性别</th>
                        <td th:text="${user.userProfile.gender.name}"></td>
                    </tr>
                    <tr th:if="${user.userProfile != null}">
                        <th>电话</th>
                        <td th:text="${user.userProfile.phone}"></td>
                    </tr>
                    <tr th:if="${user.userProfile != null}">
                        <th>电子邮箱</th>
                        <td th:text="${user.userProfile.email}"></td>
                    </tr>
                    <tr th:if="${user.userProfile != null}">
                        <th>个人简介</th>
                        <td th:text="${user.userProfile.detail}"></td>
                    </tr>
                    <tr th:if="${user.userProfile != null}">
                        <th>注册日期</th>
                        <td th:text="${user.userProfile.joinDate}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
