<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>个人中心</title>
</head>
<body>

<div layout:fragment="content" th:object="${user}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/locales/zh.js"></script>

    <div class="jumbotron">
        <h1>个人中心</h1>
    </div>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#baseinfo" data-toggle="tab" id="toInfo">
                基本信息
            </a>
        </li>
        <li>
            <a href="#address" data-toggle="tab" id="toAddress">
                收货地址
            </a>
        </li>
        <li>
            <a href="#transaction" data-toggle="tab" id="toTransaction">
                我的订单
            </a>
        </li>
        <li>
            <a href="#cart" data-toggle="tab" id="toCart">
                我的购物车
            </a>
        </li>

        <li>
            <a href="#sell" data-toggle="tab" id="toSell">
                我的售卖
            </a>
        </li>

    </ul>
    <div id="myTabContent" class="tab-content panel-body">
        <div class="tab-pane fade in active" id="baseinfo">
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户名</h3>
                </div>
                <div class="panel-body" th:text="*{username}">
                </div>
            </div>
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">性别</h3>
                </div>
                <div class="panel-body" th:text="*{userProfile.gender.name}">
                </div>
            </div>
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">电话</h3>
                </div>
                <div class="panel-body" th:text="*{userProfile.phone}">
                </div>
            </div>
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">邮箱</h3>
                </div>
                <div class="panel-body" th:text="*{userProfile.email}">
                </div>
            </div>
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">个人描述</h3>
                </div>
                <div class="panel-body" th:text="*{userProfile.detail}">
                </div>
            </div>
            <a th:href="@{/info/modify}" class="btn btn-default">修改信息</a>
        </div>

        <div class="tab-pane fade" id="address">
            <div th:if="${user.getAddresses().size() == 0}">
                <div class="form-group panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">你还没有添加任何收货地址</h3>
                    </div>
                </div>
                <a th:href="@{/info/addAddress}" class="btn btn-default">添加地址</a>
            </div>

            <div th:if="${user.getAddresses().size() != 0}">
                <div th:each="address, index: *{addresses}" class="form-group panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${'地址' + (index.index + 1)}"></h3>
                    </div>
                    <div class="panel-body" th:text="${address.name}"></div>
                </div>
                <a th:href="@{/info/infoAddress}" class="btn btn-default">修改地址</a>
            </div>
        </div>

        <div class="tab-pane fade" id="transaction">
            <div th:if="${user.getTransactions().size() == 0}" class="form-group panel panel-default">
                <div class="panel-heading">你还没有任何订单</div>
            </div>

            <div th:if="${user.getTransactions().size() != 0}">
                <div th:each="transaction, index: *{transactions}" class="form-group panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${transaction.item.name}"></h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-sm-3">
                            <label>单价</label>
                            <div th:text="${transaction.singlePrice}"></div>
                        </div>
                        <div class="col-sm-3">
                            <label>数量</label>
                            <div th:text="${transaction.amount}"></div>
                        </div>
                        <div class="col-sm-6">
                            <label>购买日期</label>
                            <div th:text="${transaction.soldAt}"></div>
                        </div>
                    </div>
                    <div class="panel-body row">
                        <label class="col-sm-12">评论</label>
                        <div th:if="${transaction.getComment() == null}" class="col-sm-12">
                            <div style="font-size: 15px">你还没有发表评论</div>
                            <br>
                            <a th:href="@{/item/addComment(id=${transaction.id})}" class="btn btn-sm btn-default">添加评论</a>
                        </div>
                        <div th:if="${transaction.getComment() != null}">
                            <div class="col-sm-12">
                                <input class="rating-loading" data-min="0" data-max="5" data-step="1"
                                       th:value="${transaction.getComment().getStar()}" data-show-clear="false" data-show-caption="false"/>
                                <div th:text="${transaction.getComment().getContent()}" style="font-size: 15px"></div>
                            </div>
                            <br><br><br><br><br><br>
                            <div class="col-sm-1">
                                <a th:href="@{/item/modifyComment(id=${transaction.getComment().id})}" class="btn btn-sm btn-primary">编辑评论</a>
                            </div>
                            <div class="col-sm-1">
                                <form action="#" th:action="@{/item/deleteComment}" method="post"
                                  onsubmit="if (!(confirm('你确定要删除该评论吗？'))) return false">
                                    <input type="hidden" name="id" th:value="${transaction.getComment().id}"/>
                                    <button class="btn btn-sm btn-danger" type="submit">删除</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="cart">
            <div th:if="${user.getCarts().size() == 0}" class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        你的购物车是空的
                    </h3>
                </div>
            </div>

            <div th:if="${user.getCarts().size() != 0}">
                <div th:each="cartItem: *{carts}" class="form-group panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${cartItem.item.name}"></h3>
                    </div>
                    <div class="panel-body" th:text="${cartItem.item.price}"></div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="sell">
            <div th:if="${user.getSellingItems().size() == 0}" class="form-group panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        你没有售卖任何物品
                    </h3>
                </div>
            </div>

            <div th:if="${user.getSellingItems().size() != 0}">
                <div th:each="item: *{sellingItems}" class="form-group panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${item.name}"></h3>
                    </div>
                    <div class="panel-body" th:text="${item.price}"></div>
                </div>
            </div>

            <a th:href="@{/item/add}" class="btn btn-default">添加售卖商品</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#myTab a").on("shown.bs.tab", function (e) {
                if (e.target.id == 'toTransaction'){
                    $("input.rating-loading").rating({displayOnly: true, language: 'zh'});
                }
            })
        })
    </script>
</div>

</body>
</html>
