<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>编辑购物车</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li>
            <a th:href="@{/item/detail(id=${cart.item.id})}">查看商品详情</a>
        </li>
        <li class="active">编辑购物车</li>
    </ul>
    <div class="jumbotron">
        <h1>编辑购物车</h1>
    </div>
    <form action="#" th:object="${cart}" class="form-horizontal" onsubmit="return check();"
          th:action="@{/cart/modify}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{item}"/>
            <input type="hidden" th:field="*{user}"/>
            <label class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-10"><div class="form-control" th:text='*{item.name}'></div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品库存</label>
            <div class="col-sm-10"><div class="form-control" th:text='*{item.stock}'></div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请输入购买的数量</label>
            <div class="col-sm-10">
                <input th:field="*{amount}"
                       class="form-control" type="number" min="1" th:max='*{item.stock}' id="amount"
                >
                <div hidden class="text-danger" id="askForAmount">请输入购买的数量</div>
                <div hidden class="text-danger" id="validForAmount">请输入合法的购买数量</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">保存到购物车</button>
            </div>
        </div>
    </form>

    <script>
        function check() {
            var result = true;
            var amountArea = $("#amount");
            var askForAmount = $("#askForAmount");
            var validForAmount = $("#validForAmount");

            if (amountArea.val().length <= 0){
                askForAmount.removeAttr("hidden");
                validForAmount.attr("hidden", "hidden");
                result = false;
            }
            else if (isNaN(amountArea.val()) || parseFloat(amountArea.val()) <= 0){
                askForAmount.attr("hidden",  "hidden");
                validForAmount.removeAttr("hidden");
                result = false;
            }
            else {
                askForAmount.attr("hidden", "hidden");
                validForAmount.attr("hidden", "hidden");
            }
            return result;
        }
    </script>
</div>

</body>
</html>
