<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>查看销售记录</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li>
            <a th:href="@{/info/}">个人中心</a>
        </li>
        <li class="active">查看销售记录</li>
    </ul>
    <div class="jumbotron">
        <h1 th:text="${'查看' + item.name + '的销售记录'}"></h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th th:switch="${sort}">
                    <a th:case="'id'" class="asc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='-id')}">用户名</a>
                    <a th:case="'-id'" class="desc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='id')}">用户名</a>
                    <a th:case="*"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='id')}">用户名</a>
                </th>
                <th th:switch="${sort}">
                    <a th:case="'soldAt'" class="asc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='-soldAt')}">购买日期</a>
                    <a th:case="'-soldAt'" class="desc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='soldAt')}">购买日期</a>
                    <a th:case="*"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='soldAt')}">购买日期</a>
                </th>
                <th th:switch="${sort}">
                    <a th:case="'singlePrice'" class="asc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='-singlePrice')}">单价</a>
                    <a th:case="'-singlePrice'" class="desc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='singlePrice')}">单价</a>
                    <a th:case="*"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='singlePrice')}">单价</a>
                </th>
                <th th:switch="${sort}">
                    <a th:case="'amount'" class="asc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='-amount')}">数量</a>
                    <a th:case="'-amount'" class="desc"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='amount')}">数量</a>
                    <a th:case="*"
                       th:href="@{/item/transactions(id=${item.id}, name=${name}, page=${page}, sort='amount')}">数量</a>
                </th>
                <th>售后服务</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="transaction : ${transactions}">
                <th th:text="${transaction.getBuyer().getUsername()}"></th>
                <th th:text="${transaction.getSoldAt()}"></th>
                <th th:text="${#numbers.formatCurrency(transaction.getSinglePrice())}"></th>
                <th th:text="${transaction.getAmount()}"></th>
                <th>
                    <a th:if="${transaction.getIfUnhandledRefundrequest() >= 2}" class="btn btn-warning" th:href="@{/transaction/dealRefund(id=${transaction.getUnhandledRefundrequest().id})}">
                        处理退款
                    </a>
                    <a th:if="${transaction.getIfUnhandledRefundrequest() >= 1}" class="btn btn-default" th:href="@{/transaction/refunds(id=${transaction.id})}">
                        查看退款请求
                    </a>
                </th>
            </tr>
            </tbody>
        </table>

        <ul class="pagination" th:if="${transactions.totalPages gt 1}">
            <li class="prev" th:classappend="${transactions.number == 0} ? 'disabled'"
                th:switch="${transactions.number == 0}">
                <a th:case="${false}"
                   th:href="@{/item/transactions(id=${item.id}, name=${name}, sort=${sort}, page=${transactions.number})}">&laquo;</a>
                <span th:case="${true}">&laquo;</span>
            </li>
            <li th:class="${transactions.number + 1 == i ? 'active': ''}"
                th:each="i : ${#numbers.sequence(transactions.number - 4 > 0 ? transactions.number - 4 : 1, transactions.number + 5 <= transactions.totalPages ? transactions.number + 5 : transactions.totalPages)}">
                <a th:href="@{/item/transactions(id=${item.id}, name=${name}, sort=${sort}, page=${i})}"
                   th:text="${i}"></a>
            </li>
            <li class="next" th:classappend="${transactions.number + 1 == transactions.totalPages} ? 'disabled'"
                th:switch="${transactions.number + 1 == transactions.totalPages}">
                <a th:case="${false}"
                   th:href="@{/item/transactions(id=${item.id}, name=${name}, sort=${sort}, page=${transactions.number + 2})}">&raquo;</a>
                <span th:case="true">&raquo;</span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
