<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>查看交易详情</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>查看交易详情</h1>
    </div>
    <div>
        <div class="form-group">
            <img th:src="@{${'/item/getpic?id=' + refund.transaction.item.id}}" style="margin-bottom: 20px"
                 class="img-responsive center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">名称</h3>
                </div>
                <div class="panel-body" th:text="${refund.transaction.item.name}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">价格</h3>
                </div>
                <div class="panel-body" th:text="${refund.transaction.singlePrice}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">数量</h3>
                </div>
                <div class="panel-body" th:text="${refund.transaction.amount}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">交易日期</h3>
                </div>
                <div class="panel-body" th:text="${refund.transaction.soldAt}">
                </div>
            </div>
            <form th:object="${refund}" th:action="@{/transaction/refund}" method="post"
                  onsubmit="return check();">
                <input type="hidden" th:field="*{transaction}"/>
                <input type="hidden" th:field="*{dealt}"/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">退款理由</h3>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" style="resize:none;" rows="20" th:field="*{reason}" id="reason"></textarea>
                        <div class="text-danger" hidden="hidden" id="askForReason">理由不能为空</div>
                    </div>
                </div>
                <div class="col-sm-1" style="margin-top: 20px;">
                    <button class="btn btn-sm btn-danger" type="submit">提交申请</button>
                </div>
            </form>
        </div>

    </div>
    <script>
        function check() {
            var result = true;
            var reason = $("#reason");
            var askForReason = $("#askForReason");
            if (reason.val().length <= 0){
                askForReason.removeAttr("hidden");
                result = false;
            }
            else {
                askForReason.attr("hidden", "hidden");
            }
            return result && confirm('你确定要发起退款申请吗？');
        }
    </script>
</div>

</body>
</html>
