<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>添加商品类型</title>
</head>
<body>
<div layout:fragment="content">
    <form th:object="${category}" action="#" th:action="@{/category/add}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col-md-11">
                <input type="text" class="form-control" placeholder="商品类型名称"
                       aria-describedby="sizing-addon1" th:field="*{name}">
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-primary btn-block"/>
            </div>

        </div>

    </form>
</div>

</body>
</html>