<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>出错啦！</title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="${error} + '(#' + ${status} + ')'"></h1>

    <div class="alert alert-danger">
        <span th:text="${message}"></span>
    </div>

<!--    <pre th:if="${trace != null}" th:text="${trace}"></pre>-->

    <p>服务器处理您的请求时遇到上述错误。</p>
    <p>如果您认为这是服务器错误，请与我们联系。 谢谢。</p>
</div>

</body>
</html>
