<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>商品管理</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li>
            <a th:href="@{/}">首页</a>
        </li>
        <li class="active">商品管理</li>
    </ul>
    <div class="category-index">
        <h1>商品管理</h1>
        <p>
            <a class="btn btn-primary" th:href="@{/admin/item/category}">商品分类管理</a>
        </p>
    </div>
</div>

</body>
</html>
