<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>商品详情</title>
</head>
<body>

<div layout:fragment="content">
    <ul class="breadcrumb">
        <li><a th:href="@{/}">首页</a></li>
        <li><a th:href="@{/admin/item}">商品管理</a></li>
        <li class="active" th:text="${item.id}"></li>
    </ul>
    <div class="item-view">
        <h1 th:text="${item.name}"></h1>
        <p>
            <a class="btn btn-danger btn-sm"
               th:if="${item.available}"
               th:href="@{/admin/item/toggle-available(id=${item.id})}"
               onclick="if (!(confirm('你确定要下架该商品吗？'))) return false">下架商品</a>
            <a class="btn btn-success btn-sm"
               th:if="${!item.available}"
               th:href="@{/admin/item/toggle-available(id=${item.id})}"
               onclick="if (!(confirm('你确定要上架该商品吗？'))) return false">上架商品</a>
        </p>
        <table id="w0" class="table table-striped table-bordered detail-view">
            <tr>
                <th class="col-md-2">ID</th>
                <td th:text="${item.id}"></td>
            </tr>
            <tr>
                <th>名称</th>
                <td th:text="${item.name}"></td>
            </tr>
            <tr>
                <th>分类</th>
                <td th:text="${item.category.name}"></td>
            </tr>
            <tr>
                <th>销售者</th>
                <td>
                    <a th:text="${item.seller.username}"
                       th:href="@{/admin/user/view(id=${item.seller.id})}"></a>
                </td>
            </tr>
            <tr>
                <th>图片</th>
                <td><img src="#" alt="#" th:src="@{'/item/getpic?id=' + ${item.id}}" th:alt="${item.name}"></td>
            </tr>
            <tr>
                <th>价格</th>
                <td th:text="${#numbers.formatCurrency(item.price)}"></td>
            </tr>
            <tr>
                <th>库存</th>
                <td th:text="${item.stock}"></td>
            </tr>
            <tr>
                <th>详情</th>
                <td th:text="${item.detail}"></td>
            </tr>
            <tr>
                <th>上架状态</th>
                <td th:text="${item.available ? '在售中' : '已下架'}"></td>
            </tr>
            <tr>
                <th>创建日期</th>
                <td th:text="${item.createdAt}"></td>
            </tr>
            <tr>
                <th>修改日期</th>
                <td th:text="${item.modifiedAt}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
